<html>
  <head>
    <title>Product Checkout</title>
    <link rel="stylesheet" href="checkout.css" type="text/css" />
  </head>
  <body>
    <form action="/product-checkout" method="POST">
      <input type="hidden" name="priceId" value="price_1Jup9ySB4MHJYzxQBMSKTW2l" />
      <button type="submit">Product Checkout</button>
    </form>
  </body>
</html>