<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section>
    <h1>You payment is successful</h1>
    <h3>
      We appreciate your business! If you have any questions, please email
      <a href="mailto:abc@example.com">orders@example.com</a>.
    </h3>
  </section>
</body>
</html>